* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
h1{
    text-align: center;
    margin-bottom: 30px;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background: #ccc;
  }
.opciones{
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    padding:10px;
    font-family: 'Open Sans',Arial, sans-serif;
    font-size:25px;
}
.grid{
    width: 100%;
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div {
    /* margin-top: 30px; */
    display: inline-flex;
    position: relative;
    /* height: 50%; */
    /* margin: 50px 50px; */
    background-color: rgb(216, 216, 216);
    /* width: 80%; */
    /* padding-bottom: 10px; */
}

button {
    background-color: #139b4d;
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 50px;
    height: 30px;
    font-weight: 800;
    cursor: pointer;
    right: 0px;
    -webkit-appearance: none;
}
button:hover {
    color:black;
    background-color: gray;
}
.input {
    width: 300px;
    height: 30px;
}
.element-list{
    height: 550px;
    overflow-y: scroll
}
ul{
    padding: 15px;
   
}
li{
    list-style: none;
    padding: 10px 5px;
    background-color: #fff;
    margin: 12px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    border-radius: 3px;
    transition: .4s;
}
button:hover{
    background-color: #1565c0;
}

li:hover{
    background-color: #e0e0e0;
}
.checked{
    text-decoration: line-through;
    background-color: #e0e0e0;
}
.containerClean {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.containerClean p {
    font-size: 12px;
    font-weight: 800;
    margin-top: 12px;
    padding-right: 8px;
}
.txt-button {
    cursor: pointer;
    color: rgb(77, 77, 255);
}

.txt-button:hover {
    color: rgb(255, 97, 97);
}

@media screen and (max-width: 600px){
    .container{
        align-items: center;
    }
    .opciones{
        flex-direction: column;
        font-size: 50px;
        text-align: center;
    }   
    
}